<div class="container">
  <div class="row">
    <div align="left" class="col-sm-7">
      <h3>We would love to hear from you.  Send a message to Vuu's Beauty School</h3>
    
      <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :name, :required => true %>
        <%= f.input :email, :required => true %>
        <%= f.input :message, :as => :text, :required => true %>
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          </br>
          <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-5">
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Vuu's+Beauty+School,+807+South+King+Street,+Seattle,+WA+98104-3019&amp;aq=0&amp;oq=vuu's+b&amp;sll=47.669512,-122.414957&amp;sspn=0.249228,0.497131&amp;vpsrc=6&amp;ie=UTF8&amp;hq=Vuu's+Beauty+School,&amp;hnear=807+S+King+St,+Seattle,+King,+Washington+98104&amp;t=m&amp;cid=16242767803986317222&amp;ll=47.60651,-122.319202&amp;spn=0.020254,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Vuu's+Beauty+School,+807+South+King+Street,+Seattle,+WA+98104-3019&amp;aq=0&amp;oq=vuu's+b&amp;sll=47.669512,-122.414957&amp;sspn=0.249228,0.497131&amp;vpsrc=6&amp;ie=UTF8&amp;hq=Vuu's+Beauty+School,&amp;hnear=807+S+King+St,+Seattle,+King,+Washington+98104&amp;t=m&amp;cid=16242767803986317222&amp;ll=47.60651,-122.319202&amp;spn=0.020254,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
  </div>
</div>