<% provide(:title, 'Student Monthly Reports') %>
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 1px;
  }
</style>

<h2><%= @school.name %> -- <%= @school.address %>, <%= @school.city %> WA <%= @school.zipcode %> -- Phone: <%= @school.phone%></h2>
<h2>Monthly Student Report for <%= @study_program.title %> -- Month/Year:  <%= @calendar.month %>/<%= @calendar.year %></h2>
<h2>Student Name:  <%= @user.full_name %>  -- ID:  <%= @school_user.id %> -- DOB: <%= @school_user.dob%></h2>
<h2>Daily Activity Student Performed</h2>
<table>
  <!-- Build the headings row -->
  <th></th>
  <% @program_requirements.each do |pr| %>
    <th><%= pr.name %></th>
  <% end %>
  <th>Grand Total</th>
  
  <!-- Build the Required Hours row-->
  <tr>
    <td>Required Hours</td>
    <% grand_total = 0 %>
    <% @program_requirements.each do |pr| %>
      <% grand_total = grand_total + pr.hours %>
      <td><%= pr.hours %></td>
    <% end %>
    <td><%= grand_total %></td>
  </tr>
  
  <!-- Build the daily hours rows -->
  <% @daily_hours_h.each do |tcd, hours_array| %>
    <tr>
      <td> <%= tcd %></td>
      <% hours_array.each do |hour| %>
          <td><%= hour %></td>
      <% end %>
      <td><%= hours_array.reduce(0, :+).round(2) %></td>
    </tr>
  <% end %>

  <!-- Build the monthly total row -->
  <tr>
    <td>Monthly Total</td>
    <% @monthly_total_a.each do |hour| %>
      <td><%= hour.round(2) %></td>
    <% end %>
    <td><%= @monthly_total_a.reduce(0, :+).round(2) %></td>
  </tr>
  
  <!-- Build the previous months total row -->
  <tr>
    <td>Previous Months Total</td>
    <% ptd_grand_total = 0 %>
    <% @student_hour_summaries.each do |shs| %>
      <% ptd_grand_total = ptd_grand_total + shs.previous_to_date_total %>
      <td><%= shs.previous_to_date_total.round(2) %></td>
    <% end %>
    <td><%= ptd_grand_total.round(2) %></td>
  </tr>

  <!-- Build the total hours to date row -->
  <tr>
    <td>Total Hours to Date</td>
    <% thtd_grand_total = 0 %>
    <% @student_hour_summaries.each do |shs| %>
      <% thtd_grand_total = thtd_grand_total + shs.to_date_total %>
      <td><%= shs.to_date_total.round(2) %></td>
    <% end %>
    <td><%= thtd_grand_total.round(2) %></td>
  </tr>
</table>
<p>
  By signing below, the instructor and student have verified that the hours on this report are accurate.
</p>
<p>
  Instructor's Signature:
</p>
<p>
  Student's Signature:
</p>
<%= link_to "Back", student_hours_path %>