<% provide(:title, 'Student Monthly Reports') %>

<h1> Generate Report</h1>
<%= form_tag(controller: "student_hours", action: "create") do %>
  <%= label_tag "student", "Student" %>
  <%= select_tag "school_user_id", options_from_collection_for_select(@students, :id, :full_name) %>
  <%= label_tag "month_year", "Report Month" %>
  <%= select_tag "calendar_id", options_from_collection_for_select(@calendars, :id, :month_year, @report_month_calendar_id) %>
  <%= submit_tag "Submit", class: 'btn btn-primary btn-lg' %>
<% end %>

<hr>

<h1>Hour Summary</h1>

<table class="table table-striped">
  <th>Student ID</th>
  <th>Year</th>
  <th>Month</th>
  <th>Monthly Total</th>
  <% @student_hours_summaries.each do |shs| %>
    <tr>
      <td>
        <%= shs.school_user_id %>
      </td>
      <td>
        <%= shs.year %>
      </td>
      <td>
        <%= shs.month %>
      </td>
      <td>
        <%= shs.monthly_total.round(2) %>
      </td>
    </tr>
  <% end %>
</table>
