<li class="list-group-item list-group-item-info">
  <span class="clock_in"><%= timecard.clock_in %></span>
  &nbsp; &nbsp; &nbsp;
  <span class="clock_out"><%= timecard.clock_out %></span>

  <span class="edit">
    <% if school_admin?(current_user) %>
      <%= link_to edit_timecard_path(timecard), remote: true do %>
        <button class="class: "btn btn-lg btn-primary"">Edit</button>
      <% end %>
  
      <%= link_to timecard, remote: true, method: :delete,
          data: { confirm: 'Are you sure?' } do %>
        <button class="class: "btn btn-lg btn-primary"">Delete!</button>
      <% end %>
  <% elsif timecard.clock_out.nil? %>
      <%= link_to edit_timecard_path(timecard), remote: true do %>
        <button class="btn btn-lg btn-primary">Clock out</button>
      <% end %>
  <% end %>
  </span>
</li>