<% provide(:title, 'My Timecards') %>

<h2>
  <%= link_to gravatar_for(current_user, size: 50), current_user %> <%= current_user.full_name %>'s Timecard  
</h2>

<div class="row">
  <div class="col-md-2 col-md-offset-4">
    <% if school_hour?(current_school_user) %>
      <%= link_to new_timecard_path, remote: true do %>
          <button class="btn btn-lg btn-primary">New Time Card</button>
      <% end %>
    <% else %>
      <%= link_to new_timecard_path, remote: true do %>
          <button class="btn btn-lg btn-primary" disabled>Can't create timecard because it's not school hours!</button>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="timecard-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="timecards"><%= render @timecards %></div>
</div>