<% provide(:title, 'Questions') %>

<h2>
  <%= link_to gravatar_for(current_user, size: 50), current_user %> <%= current_user.school_users.first.school.name %>'s Questions and Answers
</h2>

<%= form_tag("#") do %>
  <%= label_tag "exam_id", "Exam" %>
  <%= select_tag "exam_id", options_from_collection_for_select(@exams, :id, :l_name) %>
<% end %>

<div class="row">
  <div class="col-md-2 col-md-offset-4">
    <% if school_admin?(current_user) %>
      <%= link_to new_question_path, remote: true do %>
          <button class="btn btn-lg btn-primary">New Question</button>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="question-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-12 col-md-offset-1" id="questions"><%= render @questions %></div>
</div>