<div class="center jumbotron">
  <%= link_to "Enroll Now!", enroll_program_path, class: "btn btn-lg btn-primary" %>
</div>

<!-- =========================================================== -->

<% if @study_programs.where(title: "Online Esthetician Certificate").exists? %>

  <!-- Esthetician Certificate -->
  <!-- https://paroba.edu/programs/esthetics/ -->
  <div class="center jumbotron">
    <h1>Esthetics Certificate</h1>
    <h1><%= number_to_currency(@study_programs.where(title: "Online Esthetician Certificate").first.tuition, precision: 0) %></h1>
  </div>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">
            <%= @study_programs.where(title: "Online Esthetician Certificate").first.required_hours %> Hours (<%= @study_programs.where(title: "Online Esthetician Certificate").first.online_hours %> Hours Online)</li>
          </li>
          <li class="list-group-item list-group-item-success">100% Online</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Facials</li>
          <li class="list-group-item list-group-item-success">Hair Removal</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Body Treatments</li>
          <li class="list-group-item list-group-item-success">Makeup</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Retail Sales</li>
          <li class="list-group-item list-group-item-success">Product Knowledge</li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Nails Tech Certificate -->
  <div class="center jumbotron">
    <h1>Nails Tech Certificate</h1>
    <h1><%= number_to_currency(@study_programs.where(title: "Online Manicurist Certificate").first.tuition, precision: 0) %></h1>
  </div>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <%= @study_programs.where(title: "Online Manicurist Certificate").first.required_hours %> Hours (<%= @study_programs.where(title: "Online Manicurist Certificate").first.online_hours %> Hours Online)</li>
          </li>
          <li class="list-group-item list-group-item-info">100% Online</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Acrylic Nails</li>
          <li class="list-group-item list-group-item-info">Manicure</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Pedicure</li>
          <li class="list-group-item list-group-item-info">Nails Design</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Nail Tips</li>
          <li class="list-group-item list-group-item-info">Nail Wraps</li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Cosmetology Certificate -->
  <!-- http://paroba.edu/lp/cosmetology.php?gclid=CMfehpCIyc4CFdFefgodXPAG0A -->
  <div class="center jumbotron">
    <h1>Cosmetology Certificate</h1>
    <h1><%= number_to_currency(@study_programs.where(title: "Online Cosmetology Certificate").first.tuition, precision: 0) %></h1>
  </div>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">
            <%= @study_programs.where(title: "Online Cosmetology Certificate").first.required_hours %> Hours (<%= @study_programs.where(title: "Online Cosmetology Certificate").first.online_hours %> Hours Online)</li>
          </li>
          <li class="list-group-item list-group-item-success">100% Online</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Haircutting and Styling</li>
          <li class="list-group-item list-group-item-success">Coloring</li>
          <li class="list-group-item list-group-item-success">Chemical Texturing</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Straight Hair Relaxing</li>
          <li class="list-group-item list-group-item-success">Manicuring</li>
          <li class="list-group-item list-group-item-success">Facials</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Retail Sales</li>
          <li class="list-group-item list-group-item-success">Makeup</li>
          <li class="list-group-item list-group-item-success">Hair Removal</li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Barber Certificate -->
  <!-- https://paroba.edu/programs/esthetics/ -->
  <div class="center jumbotron">
    <h1>Barber Certificate</h1>
    <h1><%= number_to_currency(@study_programs.where(title: "Online Barber Certificate").first.tuition, precision: 0) %></h1>
  </div>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <%= @study_programs.where(title: "Online Barber Certificate").first.required_hours %> Hours (<%= @study_programs.where(title: "Online Barber Certificate").first.online_hours %> Hours Online)</li>
          </li>
          <li class="list-group-item list-group-item-info">100% Online</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Haircutting & styling</li>
          <li class="list-group-item list-group-item-info">Clipper cutting and designing</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Shaving and facial hair trimming</li>
          <li class="list-group-item list-group-item-info">Shampooing and scalp treatments</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Fitting and styling of artificial hair</li>
          <li class="list-group-item list-group-item-info">Product Knowledge</li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Instructor Certificate -->
  <div class="center jumbotron">
    <h1>Instructor Certificate</h1>
    <h1><%= number_to_currency(@study_programs.where(title: "Online Instructor Certificate").first.tuition, precision: 0) %></h1>
  </div>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">
            <%= @study_programs.where(title: "Online Instructor Certificate").first.required_hours %> Hours (<%= @study_programs.where(title: "Online Instructor Certificate").first.online_hours %> Hours Online)</li>
          </li>
          <li class="list-group-item list-group-item-success">100% Online</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Manage Classroom</li>
          <li class="list-group-item list-group-item-success">Train Students</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Teaching Skills</li>
          <li class="list-group-item list-group-item-success">Social Skills</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Lesson Plans</li>
          <li class="list-group-item list-group-item-success">Skill Assessment</li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Hair Design Certificate -->
  <div class="center jumbotron">
    <h1>Hair Design Certificate</h1>
    <h1><%= number_to_currency(@study_programs.where(title: "Online Hair Design Certificate").first.tuition, precision: 0) %></h1>
  </div>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <%= @study_programs.where(title: "Online Hair Design Certificate").first.required_hours %> Hours (<%= @study_programs.where(title: "Online Hair Design Certificate").first.online_hours %> Hours Online)</li>
          </li>
          <li class="list-group-item list-group-item-info">100% Online</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Haircutting and Styling</li>
          <li class="list-group-item list-group-item-info">Coloring</li>
          <li class="list-group-item list-group-item-info">Chemical Texturing</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Straight Hair Relaxing</li>
          <li class="list-group-item list-group-item-info">Facials</li>
          <li class="list-group-item list-group-item-info">Retail Sales</li>
        </ul>
      </div>
      <div class="col-sm-3 text-left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Makeup</li>
          <li class="list-group-item list-group-item-info">Hair Removal</li>
          <li class="list-group-item list-group-item-info">Product Knowledge</li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<!-- =========================================================== -->

<!-- Esthetician Program -->
<!-- https://paroba.edu/programs/esthetics/ -->
<div class="center jumbotron">
  <h1>Esthetics Program</h1>
  <h1><%= number_to_currency(@study_programs.where(title: "Esthetician").first.tuition, precision: 0) %></h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          <%= @study_programs.where(title: "Esthetician").first.required_hours %> Hours (<%= @study_programs.where(title: "Esthetician").first.online_hours %> Hours Online)</li>
        </li>
        <li class="list-group-item list-group-item-success">In School 1 Day per Week</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Facials</li>
        <li class="list-group-item list-group-item-success">Hair Removal</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Body Treatments</li>
        <li class="list-group-item list-group-item-success">Makeup</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Retail Sales</li>
        <li class="list-group-item list-group-item-success">Product Knowledge</li>
      </ul>
    </div>
  </div>
</div>

<!-- Nails Tech Program -->
<div class="center jumbotron">
  <h1>Nails Tech Program</h1>
  <h1><%= number_to_currency(@study_programs.where(title: "Manicurist").first.tuition, precision: 0) %></h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          <%= @study_programs.where(title: "Manicurist").first.required_hours %> Hours (<%= @study_programs.where(title: "Manicurist").first.online_hours %> Hours Online)</li>
        </li>
        <li class="list-group-item list-group-item-info">In School 1 Day per Week</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Acrylic Nails</li>
        <li class="list-group-item list-group-item-info">Manicure</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Pedicure</li>
        <li class="list-group-item list-group-item-info">Nails Design</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Nail Tips</li>
        <li class="list-group-item list-group-item-info">Nail Wraps</li>
      </ul>
    </div>
  </div>
</div>

<!-- Cosmetology Program -->
<!-- http://paroba.edu/lp/cosmetology.php?gclid=CMfehpCIyc4CFdFefgodXPAG0A -->
<div class="center jumbotron">
  <h1>Cosmetology Program</h1>
  <h1><%= number_to_currency(@study_programs.where(title: "Cosmetology").first.tuition, precision: 0) %></h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          <%= @study_programs.where(title: "Cosmetology").first.required_hours %> Hours (<%= @study_programs.where(title: "Cosmetology").first.online_hours %> Hours Online)</li>
        </li>
        <li class="list-group-item list-group-item-success">In School 1 Day per Week</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Haircutting and Styling</li>
        <li class="list-group-item list-group-item-success">Coloring</li>
        <li class="list-group-item list-group-item-success">Chemical Texturing</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Straight Hair Relaxing</li>
        <li class="list-group-item list-group-item-success">Manicuring</li>
        <li class="list-group-item list-group-item-success">Facials</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Retail Sales</li>
        <li class="list-group-item list-group-item-success">Makeup</li>
        <li class="list-group-item list-group-item-success">Hair Removal</li>
      </ul>
    </div>
  </div>
</div>

<!-- Barber Program -->
<!-- https://paroba.edu/programs/esthetics/ -->
<div class="center jumbotron">
  <h1>Barber Program</h1>
  <h1><%= number_to_currency(@study_programs.where(title: "Barber").first.tuition, precision: 0) %></h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          <%= @study_programs.where(title: "Barber").first.required_hours %> Hours (<%= @study_programs.where(title: "Barber").first.online_hours %> Hours Online)</li>
        </li>
        <li class="list-group-item list-group-item-info">In School 1 Day per Week</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Haircutting & styling</li>
        <li class="list-group-item list-group-item-info">Clipper cutting and designing</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Shaving and facial hair trimming</li>
        <li class="list-group-item list-group-item-info">Shampooing and scalp treatments</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Fitting and styling of artificial hair</li>
        <li class="list-group-item list-group-item-info">Product Knowledge</li>
      </ul>
    </div>
  </div>
</div>

<!-- Instructor Program -->
<div class="center jumbotron">
  <h1>Instructor Program</h1>
  <h1><%= number_to_currency(@study_programs.where(title: "Instructor").first.tuition, precision: 0) %></h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          <%= @study_programs.where(title: "Instructor").first.required_hours %> Hours (<%= @study_programs.where(title: "Instructor").first.online_hours %> Hours Online)</li>
        </li>
        <li class="list-group-item list-group-item-success">In School 1 Day per Week</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Manage Classroom</li>
        <li class="list-group-item list-group-item-success">Train Students</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Teaching Skills</li>
        <li class="list-group-item list-group-item-success">Social Skills</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Lesson Plans</li>
        <li class="list-group-item list-group-item-success">Skill Assessment</li>
      </ul>
    </div>
  </div>
</div>

<!-- Hair Design Program -->
<div class="center jumbotron">
  <h1>Hair Design Program</h1>
  <h1><%= number_to_currency(@study_programs.where(title: "Hair Design").first.tuition, precision: 0) %></h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          <%= @study_programs.where(title: "Hair Design").first.required_hours %> Hours (<%= @study_programs.where(title: "Hair Design").first.online_hours %> Hours Online)</li>
        </li>
        <li class="list-group-item list-group-item-info">In School 1 Day per Week</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Haircutting and Styling</li>
        <li class="list-group-item list-group-item-info">Coloring</li>
        <li class="list-group-item list-group-item-info">Chemical Texturing</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Straight Hair Relaxing</li>
        <li class="list-group-item list-group-item-info">Facials</li>
        <li class="list-group-item list-group-item-info">Retail Sales</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Makeup</li>
        <li class="list-group-item list-group-item-info">Hair Removal</li>
        <li class="list-group-item list-group-item-info">Product Knowledge</li>
      </ul>
    </div>
  </div>
</div>
