<!-- Show header only @head is 1 -->
<% @head = @head + 1 %>
<% if @head == 1 %>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Study program ID</th>
        <th>Chapter #</th>
        <th>Chapter name</th>
        <th>Lesson #</th>
        <th>Lesson name</th>
        <th>Book name</th>
        <th>Page #</th>
        <th>Document Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
<% end %>
      <tr>
        <td><%= lesson.id %></td>
        <td><%= lesson.study_program_id %></td>
        <td><%= lesson.chapter_number %></td>
        <td><%= lesson.chapter_name %></td>
        <td><%= lesson.lesson_number %></td>
        <td><%= lesson.lesson_name %></td>
        <td><%= lesson.book_name %></td>
        <td><%= lesson.page_number %></td>
        <td><%= lesson.document_name %></td>
        <td>
          <%= link_to edit_lesson_path(lesson), remote: true do %>
            <button class="class: "btn btn-lg btn-primary"">Edit</button>
          <% end %>
        </td>
        <td>
          <%= link_to lesson, remote: true, method: :delete,
              data: { confirm: 'Are you sure?' } do %>
            <button class="class: "btn btn-lg btn-primary"">Delete!</button>
          <% end %>
        </td>
      </tr>
<% if @tail == @head %>
  </table>
</div>
<% end %>
