<% provide(:title, 'User Account Change') %>

<h1>User Account Change</h1>

<hr>
<h2> Activate Account</h2>
<%= form_tag("/admin_tasks/activate_user") do %>
  <%= label_tag "email" %>
  <%= select_tag "user_id", options_from_collection_for_select(@users, :id, :email) %>
  <%= submit_tag "Activate", class: "btn btn-primary btn-lg" %>
<% end %>

<hr>
<h2> Reset Password</h2>
<%= form_tag("/admin_tasks/reset_password") do %>
  <%= label_tag "email" %>
  <%= select_tag "user_id", options_from_collection_for_select(@users_for_password_reset, :id, :email) %>
  <%= label_tag "password" %>
  <%= password_field_tag(:password) %>
  <%= label_tag "password_confirmation" %>
  <%= password_field_tag(:password_confirmation) %>
  <%= submit_tag "Update", class: "btn btn-primary btn-lg" %>
<% end %>