<% provide(:title, 'Tuition Payment') %>

<h1>Tuition Payment</h1>

<%= form_tag("/admin_tasks/payment") do %>

  <%= label_tag "school_user_id", "Student" %>
  <%= select_tag "school_user_id", options_from_collection_for_select(@students, :id, :full_name) %>
  
  <%= label_tag "amount", "Amount:" %>
  <%= number_field_tag "amount", nil, min: 1, max: 7000 %>

  <%= label_tag "payment_type", "Payment type:" %>
  <%= select_tag "payment_type_id", options_from_collection_for_select(PaymentType.all, :id, :description) %>

  <%= label_tag "payment_date", "Payment Date" %>
  <%= select_tag("payment_date", options_for_select([[0.day.ago, 0], [1.day.ago, 1], [2.day.ago, 2], [3.day.ago, 3], [4.day.ago, 4],
                                                [5.day.ago, 5], [6.day.ago, 6], [7.day.ago, 7], [8.day.ago, 8], [9.day.ago, 9],
                  [10.day.ago, 10], [11.day.ago, 11], [12.day.ago, 12], [13.day.ago, 13], [14.day.ago, 14], [15.day.ago, 15], [16.day.ago, 16], [17.day.ago, 17], [18.day.ago, 18], [19.day.ago, 19],
                  [20.day.ago, 20], [21.day.ago, 21], [22.day.ago, 22], [23.day.ago, 23], [24.day.ago, 24], [25.day.ago, 25], [26.day.ago, 26], [27.day.ago, 27], [28.day.ago, 28], [29.day.ago, 29],
                  [30.day.ago, 30], [31.day.ago, 31], [32.day.ago, 32], [33.day.ago, 33], [34.day.ago, 34], [35.day.ago, 35], [36.day.ago, 36], [37.day.ago, 37], [38.day.ago, 38], [39.day.ago, 39],
                  [40.day.ago, 40], [41.day.ago, 41], [42.day.ago, 42], [43.day.ago, 43], [44.day.ago, 44], [45.day.ago, 45], [46.day.ago, 46], [47.day.ago, 47], [48.day.ago, 48], [49.day.ago, 49],
                  [50.day.ago, 50], [51.day.ago, 51], [52.day.ago, 52], [53.day.ago, 53], [54.day.ago, 54], [55.day.ago, 55], [56.day.ago, 56], [57.day.ago, 57], [58.day.ago, 58], [59.day.ago, 59],
                  [60.day.ago, 60], [61.day.ago, 61], [62.day.ago, 62], [63.day.ago, 63], [64.day.ago, 64], [65.day.ago, 65], [66.day.ago, 66], [67.day.ago, 67], [68.day.ago, 68], [69.day.ago, 69],
                  [70.day.ago, 70], [71.day.ago, 71], [72.day.ago, 72], [73.day.ago, 73], [74.day.ago, 74], [75.day.ago, 75], [76.day.ago, 76], [77.day.ago, 77], [78.day.ago, 78], [79.day.ago, 79],
                  [80.day.ago, 80], [81.day.ago, 81], [82.day.ago, 82], [83.day.ago, 83], [84.day.ago, 84], [85.day.ago, 85], [86.day.ago, 86], [87.day.ago, 87], [88.day.ago, 88], [89.day.ago, 89],
                  [90.day.ago, 90], [91.day.ago, 91], [92.day.ago, 92], [93.day.ago, 93], [94.day.ago, 94], [95.day.ago, 95], [96.day.ago, 96], [97.day.ago, 97], [98.day.ago, 98], [99.day.ago, 99],
                  [100.day.ago, 100]], [0.day.ago, 0])) %>

  <%= submit_tag "Create payment", class: "btn btn-primary" %>

<% end %>

