<% provide(:title, 'Monthly Student Report') %>

<h1>Monthly Student Report</h1>

<table class="table table-striped">
  <th>Student ID</th>
  <th>Name</th>
  <th>Monh/Year</th>
  <th>Monthly Total</th>
  <% @student_hour_summaries.each do |shs| %>
    <tr>
      <td>
        <%= shs.school_user_id %>
      </td>
      <td><%= shs.first_name + ' ' + shs.last_name %></td>
      <td><%= shs.month %>/<%= shs.year %></td>
      <td>
        <%= shs.monthly_total.round(2) %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "Back", admin_tasks_timecard_index_path %>