<% provide(:title, 'Tuition Adjustment') %>

<h1>Tuition Adjustment</h1>

<%= form_tag("/admin_tasks/adjust_tuition") do %>
  <%= label_tag "student" %>
  <%= select_tag "school_user_id", options_from_collection_for_select(@students, :id, :tuition_balance) %>
  <%= label_tag "tuition", "New tuition balance" %>
  <%= text_field_tag(:tuition_balance) %>
  <%= submit_tag "Submit", class: "btn btn-primary btn-lg" %>
<% end %>