<% provide(:title, 'Payment Receipt') %>

<h1>Payment Receipt</h1>


<h2><%= @school.name %></h2>
<h2><%= @school.address %>, <%= @school.city %>, <%= @school.zipcode %></h2>
<h2>Payment Receipt for <%= @user.full_name %></h2>

<br>
<br>

<table class="table table-striped">
  <tr>
    <th>Payment ID</th>
    <th>Amount</th>
    <th>Payment Type</th>
    <th>Payment Date</th>
  </tr>
  <%= render partial: "student_payment", object: @payment %>
</table>

<p>
  School Admin Name:
</p>
<br><br>
<p>
  School Admin Signature:
</p>
