<li>
  <%= gravatar_for school_user.user, size: 50 %>
  <%= link_to school_user.user.full_name, school_user.user %>
  | <%= school_user.email %>
  | UserID: <%= school_user.user_id %>
  | SchoolUserID: <%= school_user.school_user_id %>
  | Activated: <%= school_user.activated ? "true" : "false" %>
  | Program:   <%= school_user.study_program_id %>
  | Enrollment date: <%= school_user.enrollment_date %>
  | Tuition balance: <%= school_user.tuition_balance %>
  | <%= school_user.enrollment_status_id == 2 ? "Graduated" : "Not Graduated" %>
  <% if school_admin?(current_user) && !current_school_user?(current_user) && !current_user?(school_user.user)%>
    | <%= link_to "delete", school_user.user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>