<h1><%= @school.name %></h1>

<p>Hi <%= @user.full_name %>,</p>

<p>
Welcome to <%= @school.name %>!
</p>

<p>
  Thank you for the tuition payment in the amount of <%= number_to_currency(@amount) %>!  Your current
  outstanding balance is <%= number_to_currency(@tuition_balance) %>.
</p>
