<% provide(:title, "Tuition Payment") %>
<h1>Tuition Payment</h1>


<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

    <div>
      <label>
        <span>Tuition balance: <%= number_to_currency(@program_enrollment.tuition_balance) %></span>
      </label>
    </div>

    <label class="amount">
      <span>Amount due now: <%= number_to_currency(@amount) %> </span>
    </label>
    
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Tuition Payment"
          data-amount= <%= @stripe_amount.to_s %>
          data-locale="auto"
          data-billing-address="true"
          data-zip-code="true">
  </script>
<% end %>