<%= form_for(@program_enrollment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :study_program_id, "Study Program" %>
  <% study_programs = StudyProgram.where("school_id = ? and id != ?", current_school_user.school_id, 4) %>
  <%= f.collection_select(:study_program_id, study_programs, :id, :title_with_price) %>

  <%= hidden_field_tag :school_user_id, current_school_user.id %>

<center>
  <h1><%= @school.name %></h1>
  <h2><%= @school.address %>, <%= @school.city %>, WA <%= @school.zipcode %></h2>
  <h2><%= @school.email %> | <%= @school.phone %></h2>
</center>

<h1>Conditions</h1>
<p>
As a condition of acceptance as a student at <%= @school.name %>, I agree to the following conditions:
</p>
<ol>
  <li>Training is to be satisfactorily completed as per this agreement within 12 months of the date of enrollment.  
      If the training is not satisfactorily completed, I will pay an additional $100 per month until all requirements are met.</li>

  <li>I will be issued a student kit as outlined in the school catalog.  I understand that the said student kit becomes 
      my property and it is not refundable after three school days from the date of this contract.</li>

  <li>I understand that no responsibility is assumed by the school for any negligence, carelessness or 
      lack of skill by one or more students while applicants practice any part of the school course upon one another.</li>

  <li>I further agree to strictly follow the rules and regulations of the school.  Failure to do so may result
      in suspension or dismissal with termination of training and any balance then due under this contract 
      will become due and payable as provided in paragraph (5) below.  Such suspension or dismissal shall be at the 
      sole discretion of the school.
  </li>
  <li>For students who enroll in the beginning classes, the following schedule of tuition adjustment is based 
      on the first day of class and either of the following dates:
    <ul>
      <li>The date of the student's last, physical presence/attendance in the school.</li>
      <li>The date of the student's formal cancellation initiated by the student.</li>
      <li>The date of dismissal or termination by the school.</li>
      <li>In case of leave of absence, the last day of physical attendance of the student.  
          Leave of absence can't be more than 14 school days.</li>
    </ul>  
  </li>
  <li>
    An applicant who is not accepted by the school shall be entitled to a refund of all monies paid.
  </li>
  <li>
    If a student cancels his or her enrollment within three business days after signing but prior to the first day of class,
    a refund of all monies paid to the school will be returned to the student less a registration or enrollment fee of $50.00.
  </li>
  <li>
    If the school is permanently closed and no longer offers instruction after a student enrolled, the student 
    shall be entitled to a pro-rate refund of tuition.
  </li>
  	<li>
      If a course is cancelled subsequent to a student's enrollment, the school shall at its option:  
      <ol>
        <li>Provide a full refund of all monies paid.</li>
        <li>Provide completion of the course.</li>
      </ol>
    </li>
  <li>
    I understand that in cases of prolonged illness or accident, death in the family or other circumstances 
    that make it impractical to complete the course, the school shall make a settlement which is reasonable and fair to both.
  </li>
  <li>
    I understand that the school does not guarantee employment upon passing the Washington State Board's exams.
  </li>
</ol>

<h1>Refund</h1>
<table class="table table-hover">
  <th>Percentage of Enrollment Time</th>
  <th>Amount of Tuition Owned to the school</th>
  <tr>
    <td> Less than 10%</td>
    <td> 25%</td>
  </tr>
  <tr>
    <td> Less than 50%</td>
    <td> 75%</td>
  </tr>
  <tr>
    <td> 50% and more</td>
    <td> 100%</td>
  </tr>
  <tr>
    <td colspan="2">First payment of $700 is not refundable after one week</td>
  </tr>
</table>

<h1>Privacy of Information</h1>
<p>
  As a student at <%= @school.name %>, I understand that the school is required to keep records of my progress, attendance, 
  financial obligation, overall performance and other facts as may be necessary while enrolled.  This information is strictly
  protected from inquiry unless I approve of its release.
</p>

<h1>Satisfactory Progress Policy</h1>
<ol>
  <li>All students at <%= @school.name %> must meet a minimum of 2 days per week attendance requirement.</li>
  <li>Your attendance hours will be tracked by beautytrainingsystem.com.  You're only allowed to enter the 
      attendance time for yourself.</li>
  <li>The hours of your attendance will be checked on the 15th of each month.  At that time you will be required to have 
    completed 32 hours for part-time or 80 hours for full-time students.  Any student who does not meet the minimum hours 
    required will be placed on probation for the remainder of the month.
  <li>Your hours will be checked again at the end of each month.  At that time you will need to have at least 64 hours for part-time 
    and 160 hours for full-time students.  Students will be evaluated at the end of every month.  The hours required per
    programs are listed above.
  </li>
  <li>
    If you're on probation for more than 30 business days during your enrollment, you might be terminated or dismissed from the school.
  </li>
  <li>
    You have the right to appeal any decision by submitting a letter requesting a 
    hearing within fifteen (15) days to the school administrator.
  </li>
  <li>This will be documented on your monthly report.  It's very important that you read, understand, 
      and meet the satisfactory progress requirement each month.
  </li>
</ol>

<h1>Financial Obligation Agreement</h1>
<ol>
  <li>Total remaining balance due is payable in monthly installments of $300 per month, 
      due on or before the fifth (5th) of each month.  A late charge of $10.00 will assessed if payment is not received by the due date.
  </li>
  <li>
    I have been enrolled and accepted as a student at <%= @school.name %> and agreed to the payment schedule listed above.
    I will make my payments to <%= @school.name %>.
  </li>
  <li>
    I understand that after satisfactorily completing the minimum requirements as set forth by the 
    Washington State Board and by <%= @school.name %>, I will make full payment of this contract upon my completion 
    of the required hours of my study program.  I will be issued a diploma and a final monthly report which will qualify 
    me to take the Washington State Board's exams.
  </li>
  <li>I agree to pay interest on any amount past due under this contract at the rate of 6% per annum or the maximum rate permitted 
      by WA state law, whichever is less.  I also agree to pay all reasonable collection agency fees, other costs of collections,
      court costs, or attorney fees incurred in the enforcement of this contract.
      This school is a registrant with the Washington State Commission for Education under the Educational Services 
      Registration Act of 1979, and as a student you have certain rights under the laws related to Cosmetologist, Barber,
      Manicurist, Hair Design, Instructor, and Esthetician.
  </li>
  <li>
    I agree that I will use the website beautytrainingsystem.com for my sole and personal study purposes only 
    during the enrollment period.
  </li>
</ol>
<h2 style="color:red;">
  I have read and will comply with the above rules and regulations:<%= f.check_box :contract_agreement %>
</h2>

  <%= f.submit "Submit", class: "btn btn-primary" %>

<% end %>