<% provide(:title, 'Student Hour Summary') %>

<h2>
  <%= link_to gravatar_for(current_user, size: 50), current_user %> <%= current_user.full_name %>'s Student Hour Summary
</h2>

<div class="row">
  <div class="col-md-2 col-md-offset-4">
    <%= link_to new_student_hour_summary_path, remote: true do %>
        <button class="btn btn-lg btn-primary">New Student Hour Summary</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="student_hour_summary-form" style="display:none;"></div>
</div>

<%= will_paginate %>

<table class="table-striped">
  <th>
    Student ID
  </th>
  <th>
    Activity ID
  </th>
  <th>
    Month
  </th>
  <th>
    Year
  </th>
  <th>
    Monthly Total
  </th>
  <th>
    To Date Total
  </th>
  <th>
    Remaining Required
  </th>
  <th>
    Previous To Date Total
  </th>
  <th>
    Edit
  </th>
  <th>
    Delete
  </th>
  <div class="col-md-7 col-md-offset-1" id="student_hour_summaries"><%= render @student_hour_summaries %></div>
</table>

<%= will_paginate %>